
<!-- Header -->
<header>
   <div class="header-container">
    <p> DCXAir</p>
    <nav>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
   </div> 
   
  </header>
  
  <main>
    <router-outlet></router-outlet>
  </main>
  
  <!-- Footer -->
  <footer class="footer text-white text-center p-3 mt-auto">
    <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    <nav>
      <ul>
        <li><a routerLink="/privacy">Política de privacidad</a></li>
        <li><a routerLink="/terms">Términos y condiciones</a></li>
      </ul>
    </nav>
  </footer>