.transparent-div-combined {
    background-color: rgba(120, 112, 233, 0.8); /* Fondo rojo con 30% de transparencia */
    border: 2px solid rgba(141, 126, 175, 0.3); /* Borde rojo con 70% de opacidad */
    padding: 20px;
    color: black; /* Color del texto */
    border-radius: 10px;
}

.button-search {
    background-color: #3711c4;  /* Color de fondo (verde) */
    color: white;                /* Color del texto */
    border: none;                /* Sin borde */
    padding: 5px 10px;          /* Espaciado interno */
    text-align: center;          /* Alinear texto al centro */
    text-decoration: none;       /* Sin subrayado */
    display: inline-block;       /* Alineación en línea */
    font-size: 16px;             /* Tamaño de fuente */
    cursor: pointer;            /* Cambiar el cursor a mano */
    border-radius: 5px;          /* Bordes redondeados */
  }
  
  .button-search:hover {
    background-color: #4671c0;  /* Cambia el color de fondo cuando el ratón pasa sobre el botón */
  }

  .info-error-form {
    background-color: rgba(223, 76, 76, 0.8); /* Fondo rojo con 30% de transparencia */
    border: 2px solid rgba(219, 9, 2, 0.3); /* Borde rojo con 70% de opacidad */
    padding: 5px;
    color: rgb(228, 222, 222); /* Color del texto */
    border-radius: 10px;
}

  